
<section class="navbar">
  <img class="logo" src="/omegle-nostr/assets/logo.png" alt="logo" />
  <h2 class="description">Talk to strangers!</h2>
  <h2 class="online">{{currentOnline}}</h2>
</section>

<main class="main">
  <section #conversation class="conversation">
    <div
      *ngFor="let message of messages"
      class="chat"
     >
      <span
        [class.author-stranger]="message.author === AUTHOR_STRANGE"
        [class.author-you]="message.author === AUTHOR_YOU"
      >{{message.author | author}}: </span>
      <span class="text">{{message.text}}</span>
  </div>
  </section>

  <form (submit)="sendMessage(messageField.value)" class="form" novalidate autocomplete="off">
    <button
      type="button"
      (click)="onClickStart()"
      *ngIf="currentState === STATE_DISCONNECTED"
      class="btn start bottom-left-radius"
    >
      Start
    </button>
    <button
      type="button"
      class="btn bottom-left-radius"
      *ngIf="currentState === STATE_CONNECTED"
      (click)="currentState = STATE_UP_TO_DISCONNECT"
    >
      Stop
    </button>
    <button *ngIf="currentState === STATE_UP_TO_DISCONNECT" type="button" class="btn bottom-left-radius bold">
      Really?
    </button>
    <textarea
      name="text"
      #messageField
      class="textarea"
      [attr.disabled]="currentState === STATE_DISCONNECTED ? true : null"
      (keydown.enter)="sendMessage(messageField.value)"
    ></textarea>
    <button
      type="submit"
      #send
      class="btn bottom-right-radius"
      [attr.disabled]="currentState === STATE_DISCONNECTED ? true : null"
    >
      Send
    </button>
  </form>
</main>
