secrets:
  omeglestr:
    file: ./hs_ed25519_secret_key

services:
  tor:
    image: goldy/tor-hidden-service
    links:
      - omeglestr
    environment:
      OMEGLESTR_TOR_SERVICE_HOSTS: '80:omeglestr:80'
      OMEGLESTR_TOR_SERVICE_VERSION: '3'

    secrets:
      - source: omeglestr
        target: omeglestr
        mode: 400

  omeglestr:
    image: omeglestr
    container_name: omeglestr
    build:
      context: ./.
      dockerfile: ./Dockerfile
    restart: always