<form>
  <h1>
    <span>Configure nostr relays</span>
    <button class="closeButton exitButton" (click)="close()" type="button">✕</button>
  </h1>

  <ul class="relayList">
    <li *ngFor="let relay of relays">
      <span>{{relay}}</span>
      <button class="closeButton" (click)="removeRelay(relay)" type="button">✕</button>
    </li>
  </ul>

  <div class="field">
    <label>Relay</label>
    <div class="fieldWithButton">
      <input #relayField name="relay" type="text" autocomplete="off" placeholder="wss://relay.example" (keyup.enter)="addRelay(relayField)">
      <button (click)="addRelay(relayField)" type="button">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <path d="M7 12l5 5l-1.5 1.5a3.536 3.536 0 1 1 -5 -5l1.5 -1.5z" />
          <path d="M17 12l-5 -5l1.5 -1.5a3.536 3.536 0 1 1 5 5l-1.5 1.5z" />
          <path d="M3 21l2.5 -2.5" />
          <path d="M18.5 5.5l2.5 -2.5" />
          <path d="M10 11l-2 2" />
          <path d="M13 14l-2 2" />
        </svg>
      </button>
    </div>
  </div>

  <div class="button-group">
    <button (click)="useDefault()" type="button">Use default</button>
    <!--
      TODO: incluir a possibilidade de sincronizar as configurações
      de relay com os relays definidos na extensão nostr
      <button type="button">From extension</button>
    -->
    <button (click)="save()" type="button">Save</button>
  </div>
</form>
