*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-color: #fff7ee;
  height: 100vh;
}

.navbar {
  display: flex;
  align-items: center;
  height: 12%;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 1rem;
}

.logo {
  height: 20rem;
}

.description {
  font-size: 2.7rem;
  margin-left: 8rem;
  margin-top: 1rem;
  transform: rotate(-6deg);
}

.config {
  margin: 0 2rem 0 auto;
  cursor: pointer;
  color: #a5a5a5;
}

.online {
  margin-right: 1rem;
  font-size: 2.7rem;
  color: #6cb5ff;
}

.main {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  height: 88%;
}

.conversation {
  height: 83%;
  background-color: white;
  border: 1px solid #cccccc;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  padding: 1.5rem;
  padding-bottom: 2rem;
  font-size: 2rem;
  word-break: break-word;
  overflow-y: auto;
}

.message {
  font-size: 2rem;
  font-weight: 700;
  color: #565656;
  margin-bottom: 0.7rem;
}

.errorWrap {
  position: relative;

  .messageNotSent {
    color: #ff8100;
    margin: -.5rem 1rem;
    cursor: pointer;
    
    &:hover ~ .errorMessage {
      display: block;
    }
  }

  .errorMessage {
    border: 1px solid;
    border-radius: 5px;
    padding: .5rem 1rem;
    background-color: #ffdebd;
    position: absolute;
    display: none;
    top: -.5rem;

    &:before,
    &:after {
      content: "";
      display: block;
      border: 10px solid transparent;
      width: 0px;
      height: 0px;
      z-index: 1;
      position: absolute;
      border-right-color: black;
      white-space: nowrap;
      left: -20px;
      top: 10px;
    }

    &:after {
      z-index: 2;
      border: 8px solid transparent;
      border-right-color: #ffdebd;
      left: -16px;
      top: 12px;
    }
  }
}

.chat {
  position: relative;
  margin-bottom: 0.7rem;
}

.authorStranger {
  color: #ff0101;
  font-weight: 700;
}

.authorYou {
  color: #0101ff;
  font-weight: 700;
}

.form {
  height: 17%;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 15rem 1fr 15rem;
  gap: 1rem;
}

.btn {
  height: 100%;
  color: #121830;
  background-color: white;
  font-size: 3rem;
  border: 1px solid #cccccc;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:disabled {
    color: #999;
    cursor: default;
    background-color: rgba(239, 239, 239, 0.3);
  }
}

.bottomLeftRadius {
  border-bottom-left-radius: 7px;
}

.bottomRightRadius {
  border-bottom-right-radius: 7px;
}

.start:focus {
  outline: none;
}

.textarea {
  height: 100%;
  resize: none;
  font-family: inherit;
  font-size: 2rem;
  border: 1px solid #cccccc;
  padding: 20px 15px;
}

.textarea:focus {
  outline: none;
}

.hide {
  display: none;
}

.bold {
  font-weight: 700;
}

ul.relayList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  max-height: 150px;
  margin-bottom: 1rem;

  >li {
    margin: .5rem;

    .removeButton {
      color: white;
      background-color: transparent;
    }
    
    &:before {
      content: '';
      display: inline-block;
      background-color: rgb(0, 204, 0);
      border-radius: 2px;
      width: 6px;
      height: 6px;
      margin-right: 8px;
    }
  }
}

@media only screen and (max-width: 56.25em) {
  .description {
    margin-left: 6rem;
    font-size: 2rem;
  }

  .online {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 48.125em) {
  .online {
    display: none;
  }
}

@media only screen and (max-width: 43.75em) {
  .form {
    grid-template-columns: 10rem 1fr 10rem;
  }

  .btn {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 31.25em) {
  .conversation {
    height: 90%;
  }

  .form {
    height: 10%;
    grid-template-columns: 7rem 1fr 7rem;
  }

  .btn {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 32.5em) {
  .description {
    display: none;
  }
}

@media only screen and (max-width: 28.125em) {
  .logo {
    height: 12rem;
  }
}

modal-outlet {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,.1);
  border: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 500;
  
  > * {
    margin: 4rem auto;
    display: block;
    min-width: 200px;
    max-width: 250px;
    background-color: white;
    border-radius: 15px;
    padding: 1rem;
    box-sizing: border-box;
  }
}